* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: auto smooth;
}




/* nav head */
header img {
  width: 100px;
  height: 50px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 25px 150px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.toggle img {
  width: 30px;
  height: auto;
  cursor: pointer;
}
header.sticky {
  background: #fff;
  padding: 8px 50px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .menu {
  position: relative;
  display: flex;
  display: none;
}
header .menu li {
  position: relative;
  list-style: none;
}
header .menu li a {
  color:  #fff !important;
  position: relative;
  display: inline-block;
  margin: 10px 15px;
  text-decoration: none;
  font-weight: 400;
  padding-top: 10px;
}
header .menu li a:hover {
  color: #000;
}
header.sticky .menu li a {
  color: #111;
}
header.sticky .menu li a:hover {
  color: #9d1c6c;
}

/* hero styling */
.hero-left, .hero-right {
  height: 50vh;
  width: 100%;
}
.hero-left {
  background-color: #fff;
}
.hero-right {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/image-1.jpg);
  
}
.hero-left-1, .hero-right-1 {
  height: 50vh;
  width: 100%;
}
.hero-left-1 {
  background-color: rgb(0, 85, 165, 0.4);
}
.hero-right-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/image-3.jpg);
}
.hero-left-2, .hero-right-2 {
  height: 50vh;
  width: 100%;
}
.hero-left-2 {
  background-color: rgb(162, 210, 75, 0.3);
}
.hero-right-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/image-4.jpg);
  
}
/* hero text styling */
.hero-left-text-1 {
  padding-top: 150px;
  padding-left: 80px;
}
.hero-left-text-1 h4 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 300;
}
.hero-left-text-1 h3 {
  font-size: 70px;
  font-weight: 700;
}
.hero-left-text-1 .hero-num {
  align-content: center;
  padding-top: 30px;
  line-height: 0px;
  padding-left: 10px;
}
.hero-left-text-1 .hero-num p {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
.hero-left-text-1 span {
  display: block;
  width: 35px;
  height: 2px;
  padding-left: 20px;
  background-color: #000;
}
.hero-btn {
  font-size: 12px;
  padding-top: 50%;
  padding-left: 50%;
  overflow: hidden; 
}
.hero-btn a {
  color: #fff !important;
  text-decoration: none;

}
.hero-btn a:hover {
  padding: 15px;
  background: rgb(0, 85, 165, 0.7);
}
.hero-btn span {
  display: block;
  width: 35px;
  height: 2px;
  margin-top: 5px;
  margin-left: 140px;
  background-color: #fff;
}













@media screen and (min-width:768px) {
  .hero-left, .hero-right {
    height: 100vh;
  }
  .hero-left-1, .hero-right-1 {
    height: 100vh;
  }
  .hero-left-2, .hero-right-2 {
    height: 100vh;
  }
}
