* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: auto smooth;
    overflow-x: hidden;
}

/* styling navbar */

.ham {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* show the menu image */
  background-image: url(../images/bars-solid.svg);
  background-size: 100%;
  filter: invert(1);
}
/* change ham image to close */
.showClose {
  filter: invert(0);
  z-index: 3;
  background-image: url(../images/close.png);
}

.navbar {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: #f5b8c5;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.5s ease;
}

.showNav {
  /* show the menu */
  transform: translateY(0);
}

/* basic nav styling below */

.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  border-bottom: 2px solid white;
}





/* hero styling */
.hero-display {
  display: block;
}
.hero-left, .hero-right {
  height: 50vh;
  width: 100%;
}
.hero-left {
  background-color: #fff;
}
.hero-right {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/image-1.jpg);
  
}
.hero-left-1, .hero-right-1 {
  height: 50vh;
  width: 100%;
}
.hero-left-1 {
  background-color: rgb(0, 85, 165, 0.4);
}
.hero-right-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/image-3.jpg);
}
.hero-left-2, .hero-right-2 {
  height: 50vh;
  width: 100%;
}
.hero-left-2 {
  background-color: rgb(162, 210, 75, 0.3);
}
.hero-right-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/image-4.jpg);
  
}
/* hero text styling */
.hero-left-text-1 {
  padding-top: 150px;
  padding-left: 80px;
}
.hero-left-text-1 h4 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 300;
}
.hero-left-text-1 h3 {
  font-size: 70px;
  font-weight: 700;
}
.hero-left-text-1 .hero-num {
  align-content: center;
  padding-top: 30px;
  line-height: 0px;
  padding-left: 10px;
}
.hero-left-text-1 .hero-num p {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
.hero-left-text-1 span {
  display: block;
  width: 35px;
  height: 2px;
  padding-left: 20px;
  background-color: #000;
}
.hero-btn {
  font-size: 12px;
  padding-top: 50%;
  padding-left: 50%;
  overflow: hidden; 
}
.hero-btn a {
  color: #fff !important;
  text-decoration: none;

}
.hero-btn a:hover {
  padding: 15px;
  background: rgb(0, 85, 165, 0.7);
}
.hero-btn span {
  display: block;
  width: 35px;
  height: 2px;
  margin-top: 5px;
  margin-left: 140px;
  background-color: #fff;
}













@media screen and (min-width:768px) {
  .hero-left, .hero-right {
    height: 100vh;
  }
  .hero-left-1, .hero-right-1 {
    height: 100vh;
  }
  .hero-left-2, .hero-right-2 {
    height: 100vh;
  }
}

@media screen and (max-width:768px) {
  .hero-left, .hero-right {
    height: 50vh;
  }
  .hero-left-1, .hero-right-1 {
    height: 50vh;
  }
  .hero-left-2, .hero-right-2 {
    height: 50vh;
  }
  .ham-1 {
    filter: invert(0);
  }
  /* hero text styling */
  .hero-left-text-1 {
    padding-top: 50px;
    padding-left: 10px;
  }
  .hero-left-text-1 h4 {
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
  }
  .hero-left-text-1 h3 {
    font-size: 40px;
    font-weight: 700;
  }
  .hero-left-text-1 .hero-num {
    align-content: center;
    padding-top: 30px;
    line-height: 0px;
    padding-left: 10px;
  }
  .hero-left-text-1 .hero-num p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .hero-left-text-1 span {
    display: block;
    width: 35px;
    height: 2px;
    padding-left: 20px;
    background-color: #000;
  }
  .hero-btn {
    font-size: 12px;
    padding-top: 50%;
    padding-left: 1%;
    overflow: hidden; 
  }
  .hero-btn a {
    color: #fff !important;
    text-decoration: none;

  }
  .hero-btn a:hover {
    padding: 15px;
    background: rgb(0, 85, 165, 0.7);
  }
  .hero-btn span {
    display: block;
    width: 35px;
    height: 2px;
    margin-top: 5px;
    margin-left: 150px;
    background-color: #fff;
  }
}