.contact {
  position: relative;
  background: #fff;
  top: -30px;
  
}
.our-people {
  height: 50vh;
  width: 100%;
  background-color: #d5d877;
}

.our-people-text {
  padding-top: 15%;
}
.our-people-text h2 {
  font-size: 60px;
  font-weight: 700;
  color: #eb3e43;
}
.bio {
  line-height: 24px;
  padding: 10px 40px 10px 40px;
  text-align: justify;
  
}
.avatar img {
  width: 300px;
}
#testimonial {
  
  padding: 10px 0 10px 0;
  text-align: justify;
  margin-top: 5px;
}
#testimonial p {
  font-size: 24px;
  font-family: 'Josefin Sans';
  color: #000;
}
#testimonial p.customer {
  font-size: 20px;
  color: #666;
}

footer {
  margin-top: 100px;
}
.link a {
  text-decoration: none;
  color: #eb3e43;
  margin: 10px 10px;
  font-size: 12px;
}